# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db